<h1>Articles#show</h1>



 
<p><a href=" <%="https://translate.google.fr/translate?sl=en&tl=fr&js=y&prev=_t&hl=fr&ie=UTF-8&u="+ @url +"&edit-text=&act=url"%>" target="_blank">Article</a></p>


  
<iframe  src="<%= "https://translate.google.fr/translate?sl=en&tl=fr&js=y&prev=_t&hl=fr&ie=UTF-8&u="+ @url +"&edit-text=&act=url"%>"
 	width="600"
    height="200"
    style="no-border;" > 
</iframe>




