
<div style="margin-left: 180px">
<div class="masonry row row-sm-padding">
                                <div class="masonry-item col-md-6 col-lg-3 océanie">
                                    <div class="block block-image-holder animate-this animate--hover-show-btn">
                                        <div class="block-image" >
                                            <div style="max-height: 340px; width: 100%">
                                            <a>

                                                <img src="<%= asset_path("pairProgramming.jpg") %>">
                                            </a>
                                        </div>
                                    </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">Coucou c'est nous</a>
                                                    <span class="clearfix"></span>                
                                                </div>
                                            </div>
                                        </div>

                                      </div>       
                                    </div>
                                   
                                </div>
                                 <h1> TEAM WEST COAST </h1>
                                    <h2> @MARSEILLE </h2>
                                    <h4> <ul>
                                        <li>##- Audrey (@audreycouture) </li>
                                        <li> ##- Jerome (@Jerome)</li>
                                        <li> ##- Damien (@damien13005)</li>
                                        <li> ##- Maxime (@Maxime) </li>
                                        <li>  ##- Sam (@sam)</li>
                                    </ul>   
                                   </h4>
                            </div>


