<h1>ProfilePages#index</h1>



<tbody>
	<form>
      <% Category.all.each do |category| %>
      <tr>
        <th><%= check_box_tag "interests[]", category.id %> <%= category.nameFr %></th>
         <% end %>
      </tr>

      
	<input type="submit" value="Enregistrer" class="btn btn-warning" name="">

      </form>

    </tbody>

